/* Small screens */
@media screen and (max-width: 576px) {
  .page-card {
    flex-direction: column;
    height: auto;
    margin: 10px;
    width: auto;
  }

  .insertable, app-sidebar, app-login-pill {
    flex: 1;
  }
}

/* Medium and large screens */
@media screen and (min-width: 577px) {
  .page-card {
    height: 97%;
    margin: 15px auto auto;
    width: 98%;
  }

  app-login-pill {
    flex: 1 5;
    height: 44px;
  }

  app-sidebar {
    flex: 1;
  }

  .insertable {
    flex: 5;
  }
}


