<div class="rating-container">
  <div [class.expand]="expand" class="rating-card">
    <div class="add-rating">
      <h2>Bewertungen hinzufügen</h2>
      <div class="searchbar">
        <label>Film:</label>
        <app-searchbar [search]="selectedMovieTitle" (onSelectedOption)="displayImportantRatings($event);"></app-searchbar>
      </div>
      <form (ngSubmit)="submitRating()">
        <ngb-rating
          [(rate)]="stars">
        </ngb-rating>
        <div class="comment">
          <label for="comment">Kommentar:</label>
          <textarea [(ngModel)]="comment" id="comment" name="comment"></textarea>
        </div>
        <button class="default-button" type="submit">Bewertung hinzufügen</button>
        <p id="error"> {{errorMessage}} </p>
      </form>
    </div>
    <div [class.change-rating]="showRatings" class="show-rating">
      <h2 *ngIf="selectedMovieId" [@inOutAnimation]="selectedMovieId" id="ratings">Bewertungen anzeigen</h2>
      <ul>
        <li *ngFor="let rating of ratingsForSelectedMovie" [@inOutAnimation]="ratingsForSelectedMovie">
          <div>{{ rating.movie.title }} - Bewertung: {{ rating.stars }} - von User: {{ rating.account.username }}</div>
          <div>{{ rating.comment }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
